<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="enroll"
                    android:scheme="twp" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".UpdateInstallReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="pro.trafficwrapper.action.UPDATE_INSTALL_RESULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
